@import url("https://fonts.googleapis.com/css?family=Lato:300|Raleway:300");
body {
  text-align: center;
  font-family: "Lato", sans-serif;
  background: #f1f1f1;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

a {
  color: #222222;
  text-decoration: none;
}

.react, .android, .biz {
  background-color: #f1f1f1;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  width: 70px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 3px 0px #303030;
  -moz-box-shadow: 1px 1px 3px 0px #303030;
  box-shadow: 1px 1px 3px 0px #303030;
}

.closed, .active, .stable {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 92%;
}

.App {
  margin-top: 5vh;
  max-width: 100%;
  overflow-x: hidden;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.card {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 4%;
  padding-left: 1%;
  padding-right: 1%;
  width: 80%;
  height: 90%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px 0px black;
  -moz-box-shadow: 0px 1px 3px 0px black;
  box-shadow: 0px 1px 3px 0px black;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.card:hover {
  -webkit-box-shadow: 0px 7px 14px 0px black;
  -moz-box-shadow: 0px 7px 14px 0px black;
  box-shadow: 0px 7px 14px 0px black;
}

.cardText {
  padding-top: 20px;
  height: 55%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.cardLabels {
  padding-top: 8%;
  height: 45%;
  width: 100%;
}

.closed {
  background-color: #FF4900;
}

.active {
  background-color: #00FF92;
}

.stable {
  background-color: #FFA400;
}

.react {
  background-color: #0763FF;
}

.android {
  background-color: #00FF92;
}

.biz {
  background-color: #FFA400;
}
