@import url("https://fonts.googleapis.com/css?family=Lato:300|Raleway:300");
body {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
}

.labelStart {
  margin-left: 22px;
  margin-bottom: 15px;
  width: 50px;
  height: 20px;
  border-radius: 8px;
  border: solid 1px #4a4a4a;
}

.App {
  margin-top: 10vh;
}

.card {
  display: block;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 2vh;
  width: 85%;
  height: 50vh;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 9px 3px #303030;
  -moz-box-shadow: 2px 2px 9px 3px #303030;
  box-shadow: 2px 2px 9px 3px #303030;
}

.cardImg {
  height: 50%;
  width: 100%;
}

.cardText {
  height: 40%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.cardLabels {
  height: 10%;
  width: 100%;
}

.labelStart {
  background-color: #62b3ff;
}
