//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:300');

$Lato: 'Lato', sans-serif;
$Raleway: 'Raleway', sans-serif;

//Mixins
@mixin box-shadow($top, $left, $blur, $spread, $color) {
      -webkit-box-shadow: $top $left $blur $spread $color;
      -moz-box-shadow: $top $left $blur $spread $color;
      box-shadow: $top $left $blur $spread $color;
  }

@mixin transition($property, $duration, $function, $delay){
    -webkit-transition: $property $duration $function $delay;
    -moz-transition: $property $duration $function $delay;
    -o-transition: $property $duration $function $delay;
    transition: $property $duration $function $delay;
}

//Colors
$darkGray: #222222;
$lightGray: #f7f7f7;
$white: #ffffff;

//Generic Styles
body{
    text-align: center;
    font-family: $Lato;
    background: $lightGray;
}

h1, h3{
    font-family: $Raleway;
}

a{
    color: $darkGray;
    text-decoration: none;
}

%label{
    display: inline-block;
    margin-top: 0px;
    margin-left: 22px;
    width: 60px;
    height: 22px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    @include box-shadow(1px,1px,3px, 0px, rgb(48, 48, 48))
}

//Specific Styles
.App{
    margin-top: 10vh;
}

.card{
    background-color: $white;
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
    width: 89%;
    height: 50vh;
    border-radius: 4px;
    @include box-shadow(2px, 2px, 5px, 1px, rgb(48, 48, 48));
    @include transition(box-shadow, 0.5s, ease-out, 0s);
}

.card:hover{
    @include box-shadow(3px, 3px, 6px, 2px, rgb(48, 48, 48));
}

.cardImg{
    height: 50%;
    width: 100%;
}

.cardText{
    height: 38%;
    width: 100%;
    font-family: $Lato;
}

.cardLabels{
    height: 12%;
    width: 100%;
}

.biz{
    @extend %label;
    background-color: rgb(255, 213, 98);
}

.react{
    @extend %label;
    background-color: rgb(98, 179, 255);
}

.android{
    @extend %label;
    background-color: rgb(169, 255, 182);
}

.closed{
    @extend %label;
    border: 1px dashed rgb(94, 14, 14);
}

.active{
    @extend %label;
    border: 1px dashed rgb(17, 95, 40);
}

.stable{
    @extend %label;
    border: 1px dashed rgb(17, 44, 95);
}

.hiatus{
    @extend %label;
    border: 1px dashed rgb(18, 21, 26);
}