//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:300');

$Lato: 'Lato', sans-serif;
$Raleway: 'Raleway', sans-serif;

//Mixins
@mixin box-shadow($top, $left, $blur, $spread, $color) {
      -webkit-box-shadow: $top $left $blur $spread $color;
      -moz-box-shadow: $top $left $blur $spread $color;
      box-shadow: $top $left $blur $spread $color;
  }

@mixin transition($property, $duration, $function, $delay){
    -webkit-transition: $property $duration $function $delay;
    -moz-transition: $property $duration $function $delay;
    -o-transition: $property $duration $function $delay;
    transition: $property $duration $function $delay;
}

@mixin linear-gradient($from, $to) {
    background: $to;
      background: -moz-linear-gradient(top, $from 0%, $to 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
      background: -webkit-linear-gradient(top, $from 0%,$to 100%);
      background: -o-linear-gradient(top, $from 0%,$to 100%);
      background: linear-gradient(to bottom, $from 0%,$to 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }

//Colors
$darkGray: #222222;
$lightGray: #f1f1f1;
$white: #ffffff;
$labelRed: #FF4900;
$labelBlue: #0763FF;
$labelGreen: #00FF92;
$labelYellow: #FFA400;


//Generic Styles
body{
    text-align: center;
    font-family: $Lato;
    background: $lightGray;
}

h1, h2{
    font-family: $Raleway;
}

a{
    color: $darkGray;
    text-decoration: none;
}

%label{
    background-color: $lightGray;
    color: $white;
    display: inline-block;
    margin: 0 auto;
    width: 70px;
    height: 22px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    @include box-shadow(1px,1px,3px, 0px, rgb(48, 48, 48))
}

%status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 92%;
}

//Specific Styles
.App{
    margin-top: 5vh;
    max-width: 100%;
    overflow-x: hidden;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

.card{
    background-color: $white;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 4%;
    padding-left: 1%;
    padding-right: 1%;
    width: 80%;
    height: 90%;
    border-radius: 4px;
    @include box-shadow(0px, 1px, 3px, 0px, rgb(0, 0, 0.25));
    @include transition(all, 0.5s, cubic-bezier(.25,.8,.25,1), 0s);
}

.card:hover{
    @include box-shadow(0px, 7px, 14px, 0px, rgb(0, 0, 0.25));
}

.cardText{
    padding-top: 20px;
    height: 55%;
    width: 100%;
    font-family: $Lato;
}

.cardLabels{
    padding-top: 8%;
    height: 45%;
    width: 100%;
}

.closed{
    @extend %status;
    background-color: $labelRed;
}

.active{
    @extend %status;
    background-color: $labelGreen;
}

.stable{
    @extend %status;
    background-color: $labelYellow;
}

.react{
    @extend %label;
    background-color: $labelBlue;
}

.web{
    @extend %label;
    background-color: $labelBlue;
}

.android{
    @extend %label;
    background-color: $labelGreen;
}

.biz{
    @extend %label;
    background-color: $labelYellow;
}
